@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}
.buy__success { 
  animation: buySuccess 2s  ease-in-out ;
}

@keyframes buySuccess {
  0%{
    bottom: -100vh;
    transform: scaleX(50%);
  }
  50%{
    bottom: 50%;
    transform: translateY(50%) ;
  }
  100%{
    bottom: 50%;
    transform: translateY(50%) scaleX(100%);
  }
}